* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
background-color: #6E62C2;

margin: 0 15px;
}
.nav  {
    position: fixed;
    width: 100%;
top: 0;
left: 0;
z-index: 9999;
background: #5d50b3;
display: flex;
justify-content: center;
padding: 30px;

}
.nav .header {
    color: #fff;
}
.header h1 {
    padding-bottom: 10px;
}
.header p {
    text-align: center;
}
.balance {
    position: relative;
    width: 100%;
   background: #7C7DD7;
   padding: 20px;
   display: flex;justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-top: 150px;
   color: #fff;
   border-radius: 20px;
}
.balance h2 {
    padding-bottom: 5px;
}
.balance span {
    color: green;
    font-size: 2em;
    font-weight: 900;
}
.cont {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 2em;
    justify-items: center;
    margin-top: 20px;
}
.container {
    background: #F9F8FD;
  border-radius: 20px;
   
  padding: 20px;
    width: 280px;
}
.head i {
   font-size: 2em;
   text-align: center;
   display: block;
   margin-bottom: 10px;
   color: #1A8FEC;
}
.head h3 {
    text-align: center;
    margin-bottom: 10px;
}
.input-section {
    position: relative;
  
}
.input-section span {
    font-weight: 800;
    font-size: small;
    
}
.input-section .input-field {
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 3px solid #EDEDEE;
    box-shadow: 0 0 5px #5d50b3;
    font-size: 1em;
    background-color: #fff;
}
.btn {
    width: 100%;
    text-align: center;
    padding: 10px;
   background: #46A34A;
   border-radius: 10px;
   outline: none;
   color: #fff;
   border: none;
   text-transform: uppercase;
   font-weight: 900;
   margin-top: 10px;
   cursor: pointer;
   transition: 0.5s;
}
.btn:active {
    transform: translateY(8px);
}
.btn-balance {

    background-color: #FD920B;
}
.trt-btn {
    background-color: #1A8FEC;
}
.wth-btn {
    background-color: #ED3629;
}
.bash {
    background-color: #F9F8FC;
    width: 100%;
 margin-top: 20px;
 border-radius: 10px;
 padding: 30px;
}
.rct {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.rct h4 i {
    text-align: center;
    font-weight: 900;
    font-size: 1.1em;
padding-bottom: 10px;
}
.rct i {
    
    color: #46A34A;
}
.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h5 {
  font-weight: 900;
}
@media screen and (max-width: 470px) {
    .header h1 {
        font-size: 1.1em;
    }
}